<%- include('../fragments/header'); -%>
<div class="container main-content">
  <h1>Services</h1>
  <!-- <div class="serviceHeader" > -->
    <table class="table table-responsive-sm table-striped">
        <thead>
          <tr>
            <th scope="col">Bezeichnung</th>
            <th scope="col">OAuth ID</th>
            <th scope="col">OAuth Secret-Key</th>
            <th scope="col">Domain</th>
            <th scope="col" colspan="2">Verwalten</th>
          </tr>
        </thead>
        <tbody>
            <% services.forEach(function(service){ %>
              <tr>
                  <th scope="row"><%= service.title %></th>
                  <td><%= service.oauth_id %></td>
                  <td><%= service.oauth_secret %></td>
                  <td><%= service.domains.join(',') %></td>
                  <td><button class="btn btn-warning" onclick="edit('<%= service._id %>')"><span class="iconify" data-icon="mdi:database-edit"></span></button></td>
                  <td><button class="btn btn-danger" style="margin-left:5px" onclick="deleteService('<%= service._id%>')"><span class="iconify" data-icon="ic:baseline-delete-forever"></span></button></td>
              </tr>
            <% }); %>
        </tbody>
    </table>
  <div style="padding-top: 10px;">
    <button class="btn btn-primary" onclick="addService();"><span class="iconify" data-icon="ic:baseline-add-circle"></span> Hinzufügen</button>
  </div>
</div>

	<!-- Modal -->
	<div class="modal fade" id="newServiceModal" tabindex="-1" role="dialog" aria-labelledby="newServiceModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newServiceModal">OAuth-Service hinzufügen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input class="form-control" id="servID" type="hidden">
            <label for="title">Bezeichnung: </label>
            <input class="form-control" id="title" type="text">
            <label for="secret">Secret-Key: </label>
            <input class="form-control" id="secret" type="text">
            <fieldset>
              <legend>Domainen (Komma getrennt)</legend>
              <textarea class="form-control" id="domains"></textarea>
            </fieldset>
          </div>
          <div class="modal-footer">
              <div>
                <button type="button" class="btn btn-primary" onclick='saveService()'>Speichern</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbruchen</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <script>

  function saveService() {
    var servID = $('#servID').val();
    if (servID === "") {
      var service = {};
      service.title = $('#title').val();
      service.oauth_secret = $('#secret').val();
      service.domains = $('#domains').val().split(',');
      console.log(service);
      $.ajax({
        url: '/admin/services',
        type: 'PUT',
        data: JSON.stringify(service),
        contentType: "application/json",
        success: function(data){
          console.log("put response");
          console.log(data);
          //reload
          document.location.reload();
        },
        dataType   : 'json'
      }).fail(function(){

      });
      //$(this).dialog( "close" );
    } else {
      var service = services[servID];
      service.title = $('#title').val();
      service.oauth_secret = $('#secret').val();
      service.domains = $('#domains').val().split(',');
      $.ajax({
        url: '/admin/service/' + servID,
        type: 'POST',
        data: JSON.stringify(service),
        contentType: "application/json",
        success: function(data){
          console.log("post response");
          console.log(data);
          //reload
          document.location.reload();
        },
        dataType   : 'json'
      }).fail(function(){

      });
      //$(this).dialog( "close" );
    }
  }

  function addService() {
    clearService();
    $("#newServiceModal").modal();
    //$("#dialog").dialog("open");
  }

  function clearService(){
    $('#title').val("");
    $('#secret').val("");
    $('#domains').val("");
  }

  function edit(id) {
    clearService();
    // $("#dialog").dialog("open");
    $("#newServiceModal").modal();
    var service = services[id];
    console.log(service);
    $('#servID').val(service._id);
    $('#title').val(service.title);
    $('#secret').val(service.oauth_secret);
    $('#domains').val(service.domains.join(','));
  }

  function deleteService(id) {
    var answer = confirm("Sind Sie sicher das Sie den Service entfernen möchten?");
    if(answer) {
      $.ajax({
        url:"/admin/service/" + id,
        type: 'DELETE',
        success: function(data){
          document.location.reload();
        }
      });
    }
  }

  var services = {};
  <%- JSON.stringify(services) %>.forEach(function(service){
    services[service._id] = service;
  });
  </script>
  </div>
<%- include('../fragments/footer'); -%>