<%- include('../fragments/header'); -%>
	<div class="container main-content">
		<h1>Benutzerkonten</h1>
		<h3>Gesamt Anzahl: <%= usercount %></h3>
		
		<table id="tblUsers" class="table table-responsive table-sm table-striped" style="font-size:14px;display:none">
			<thead>
				<tr>
					<td colspan="13"><button title="Benutzer hinzufügen" type="button" style="float: right;" class="btn btn-success"  onClick="addUserAccount();" ><span class="iconify" data-icon="fa-solid:user-plus">&nbsp Benutzer hinzufügen</span></button></td>
				</tr>
				<tr>
				  <th scope="col">Benutzername</th>
				  <th scope="col"><center>Administrator</center></th>
				  <th scope="col">E-Mail Adresse</th>
				  <th scope="col"><center>Verifiziert</center></th>
				  <th scope="col">Letzte Anmeldung</th>
				  <th scope="col"><center>Land</center></th>
				  <th scope="col"><center>Region</center></th>
				  <th scope="col"><center>Geräte</center></th>
				  <th scope="col" colspan="5">Verwalten</th>
				</tr>
			</thead>
			<tbody>
				<!-- Use "users" object sent in-line from NodeJS render block, NOT object array created below -->
				<% users.forEach(function(account){ %>
					<tr>
						<th scope="row"><%= account.username %></th>
						<!--<td><%= account.superuser %></td>-->
						<% if (account.superuser == true) { %>
							<td><center><span class="iconify" data-icon="openmoji:check-mark"></span></center></td>
						<% } %>
						<% if (account.superuser == false) { %>
							<td><center><span class="iconify" data-icon="openmoji:cross-mark"></span></center></td>
						<% } %>
						<td><%= account.email %></td>
						<!--<td><%= account.isVerified %></td>-->
						<% if (account.isVerified == true) { %>
							<td><center><span class="iconify" data-icon="openmoji:check-mark"></span></center></td>
						<% } %>
						<% if (account.isVerified == false) { %>
							<td><center><span class="iconify" data-icon="openmoji:cross-mark"></span></center></td>
						<% } %>
						<td><%= account.last %></td>
						<td><center><%= account.country %></center></td>
						<td><center><%= account.region %></center></td>
						<td><center><strong><%= account.countDevices %></strong></center></td>
						<td><button title="Benutzer bearbeiten" type="button" class="btn btn-secondary" onclick="editAccount('<%= account._id %>')" <% if (account.superuser == true) { %> disabled <% } %>><span class="iconify" data-icon="fa-solid:user-edit"></span></button></td>
						<% if (account.active == false) { %>
							<td><button title="Benutzer aktivieren" type="button" class="btn btn-success" data-toggle="modal" data-target="#disableAccount" data-state-val="true" data-user="<%= account.username %>" data-id="<%= account._id %>" <% if (account.superuser == true) { %> disabled <% } %>><span class="iconify" data-icon="fa-solid:user-check"></span></button></td>
						<% } %>
						<% if (account.active == true) { %>
							<td><button title="Benutzer deaktivieren" type="button" class="btn btn-warning" data-toggle="modal" data-target="#disableAccount" data-state-val="false" data-user="<%= account.username %>" data-id="<%= account._id %>" <% if (account.superuser == true) { %> disabled <% } %>><span class="iconify" data-icon="fa-solid:user-lock"></span></button></td>
						<% } %>
						<td><button title="Benutzer löschen" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccount" data-user="<%= account.username %>" data-id="<%= account._id %>" <% if (account.superuser == true) { %> disabled <% } %>><span class="iconify" data-icon="fa-solid:user-times" ></span></button></td>
						<td><button title="Authentifizeriungs-Token löschen" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAuthToken" data-user="<%= account.username %>" data-id="<%= account._id %>" <% if (account.superuser == true) { %> disabled <% } %>><span class="iconify" data-icon="whh:authentication"></span></button></td>
						<td><button title="Topics zurücksetzen" type="button" class="btn btn-danger" data-toggle="modal" data-target="#resetTopics" data-user="<%= account.username %>" data-id="<%= account._id %>" <% if (account.superuser == true) { %> disabled <% } %>><span class="iconify" data-icon="mdi:state-machine"></span></button></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
	</div>

	<!-- User Edit Modal -->
	<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="userModalTitle"><span class="iconify" data-icon="fa-solid:user-edit"></span> Benutzer bearbeiten</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<form class="form-user" id="form-user">
					<div class="modal-body">
						<div class="form-group">
							<input id="userId" type="hidden">
							<label for="username">Benutzername: </label>
							<input id="username" class="form-control" type="text" required>
							<br>
							<label for="email">E-Mail Adresse:</label>
							<input type="email" id="email" class="form-control" required>
							<br>
							<label for="country">Land</label>
							<input type="text" id="country" class="form-control" required>
							<input type="text" id="country_code" name="country_code" data-countrycodeinput="1" readonly="readonly" hidden />
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success" id="submit" type="submit" value="submit">Speichern</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>	
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Add Edit Modal -->
	<div class="modal fade" id="userModalAdd" tabindex="-1" role="dialog" aria-labelledby="userModalAdd" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="userModalAddTitle"><span class="iconify" data-icon="fa-solid:user-plus"></span> Neuen Benutzer hinzufügen</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<form class="form-user" id="form-user-add">
					<div class="modal-body">
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" style="width: 50px; height: 38px;" id="basic-addon2" disabled>
										<span class="iconify" data-icon="bx:bxs-user" data-width="25"></span>
									</span>
								</div>
								<input type="text" id="username_add" style="text-transform: lowercase;" pattern="^[a-z0-9]{5,15}$" class="form-control" autocapitalize="none" autofocus title="Benutzername" autocomplete="username" placeholder="" required />
							</div>
							<p style="margin-top: -18px; margin-left: 52px;"><small id="usernameHelpBlock" class="form-text text-muted">Muss 5-15 Zeichen enthalten einschließlich a-z und 0-9.</small></p>

							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" style="width: 50px; height: 38px;" id="basic-addon2" disabled>
										<span class="iconify" data-icon="heroicons-solid:mail" data-width="25"></span>
									</span>
								</div>
								<input type="email" id="email_add" class="form-control" title="E-Mail Adresse" placeholder="" required />
							</div>
							<p style="margin-top: -18px; margin-left: 52px;"><small id="emailHelpBlock" class="form-text text-muted">Muss eine gültige E-Mail Adresse enthalten.</small></p>
							
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" style="width: 50px; height: 38px;" id="basic-addon2" disabled>
										<span class="iconify" data-icon="ri:lock-password-fill" data-width="25"></span>
									</span>
								</div>
								<input type="text" id="password_add" pattern="(?=^.{12,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="form-control" title="E-Mail Adresse" placeholder="" required />
							</div>
							<p style="margin-top: -18px; margin-left: 52px;"><small id="passwordHelpBlock" class="form-text text-muted">Mindestens 12 Zeichen, muss Groß- / Kleinbuchstaben, numerische Zeichen / Symbolzeichen enthalten.</small></p>

							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" style="width: 60px;" id="basic-addon2" disabled><strong>Land</strong></span>
								</div>
								<input type="text" style="width: 405px" id="country_add" class="form-control" required>
								<input type="text" id="country_add_code" name="country_add_code" data-countrycodeinput="1" readonly="readonly" hidden />
							</div>
							<p style="margin-top: -18px; margin-left: 62px;"><small id="countryHelpBlock" class="form-text text-muted">Muss mit dem Land des Amazon-Kontos übereinstimmen, das mit Alexa / Echo-Geräten verwendet wird.</small></p>
							
							<!--<label for="username_add">Benutzername: </label>
							<input id="username_add" class="form-control" type="text" required>
							<br>
							<label for="email_add">E-Mail Adresse:</label>
							<input type="email" id="email_add" class="form-control" required>
							<br>
							<label for="country_add">Land</label>
							<input type="text" id="country_add" class="form-control" required>
							<input type="text" id="country_add_code" name="country_add_code" data-countrycodeinput="1" readonly="readonly" hidden/>
							<br>
							<label for="password_add">Passwort:</label>
							<input type="text" id="password_add" class="form-control" required>-->
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success" id="submit" type="submit" value="submit">Benutzer hinzufügen</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>	
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Delete Auth-Token Modal -->
	<div class="modal fade" id="deleteAuthToken" tabindex="-1" role="dialog" aria-labelledby="deleteAuthToken" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteAuthTokenLabel"><span class="iconify" data-icon="whh:authentication"></span> Authentifizierungs-Token löschen?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<form class="form-deleteAuthToken" id="form-deleteAuthToken">
					<input type="text" id="delAuthID" hidden/>
					<div class="modal-body">
					Sind Sie sicher, das Sie den Authentifizierungstoken für den Benutzer <strong><span id="delAuthUsername"></span></strong> löschen möchten?
					</div>
					<div class="modal-footer">
						<button class="btn btn-success" id="submit" type="submit" value="submit">Ja</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Nein</button>
					</div>
				</form>
		</div>
		</div>
	</div>
	<!-- Delete Auth-Token Modal End -->

	<!-- Reset Topics Modal -->
	<div class="modal fade" id="resetTopics" tabindex="-1" role="dialog" aria-labelledby="resetTopics" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="resetTopicsLabel"><span class="iconify" data-icon="mdi:state-machine"></span> Topics zurücksetzen?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<form class="form-resetTopics" id="form-resetTopics">
					<input type="text" id="resetTopicsUsernameVal" hidden/>
					<div class="modal-body">
					Sind Sie sicher, das Sie die Topics für den Benutzer <strong><span id="resetTopicsUsername"></span></strong> zurücksetzen möchten?
					</div>
					<div class="modal-footer">
						<button class="btn btn-success" id="submit" type="submit" value="submit">Ja</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Nein</button>
					</div>
				</form>
		</div>
		</div>
	</div>
	<!-- Delete Auth-Token Modal End -->
	<!-- Delete Account Modal -->
	<div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="deleteAccount" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteAccountLabel"><span class="iconify" data-icon="fa-solid:user-times"></span> Benutzerkonto löschen?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<form class="form-deleteAccount" id="form-deleteAccount">
					<input type="text" id="deleteAccountIDVal" hidden/>
					<div class="modal-body">
					Sind Sie sicher, das Sie das Benutzerkonto des Benutzers <strong><span id="deleteAccountUsername"></span></strong> wirklich löschen möchten?
					</div>
					<div class="modal-footer">
						<button class="btn btn-success" id="submit" type="submit" value="submit">Ja</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Nein</button>
					</div>
				</form>
		</div>
		</div>
	</div>
	<!-- Delete Account Modal End -->
	<!-- Delete Account Modal -->
	<div class="modal fade" id="disableAccount" tabindex="-1" role="dialog" aria-labelledby="disableAccount" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="disableAccountLabel">Benutzerkonto <span class="disableAccountState"></span>?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<form class="form-disableAccount" id="form-disableAccount">
					<input type="text" id="disableAccountIDVal" hidden/>
					<input type="text" id="disableAccountStateVal" hidden/>
					<div class="modal-body">
					Sind Sie sicher, das Sie das Benutzerkonto des Benutzers <strong><span id="disableAccountUsername"></span></strong> <i><span class="disableAccountState"></span></i> möchten?
					</div>
					<div class="modal-footer">
						<button class="btn btn-success" id="submit" type="submit" value="submit">Ja</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Nein</button>
					</div>
				</form>
		</div>
		</div>
	</div>
	<!-- Delete Account Modal End -->
	<script>

	$(document).ready(function() {
		$("#form-user").submit(function(e) {
			e.preventDefault();
			saveAccount()
		});
		$("#form-user-add").submit(function(e) {
			e.preventDefault();
			addUserSave();
		});
		$("#form-deleteAuthToken").submit(function(e) {
			e.preventDefault();
			deleteTokens();
		});
		$("#form-resetTopics").submit(function(e) {
			e.preventDefault();
			resetTopics();
		});
		$("#form-deleteAccount").submit(function(e) {
			e.preventDefault();
			deleteAccount();
		});
		$("#form-disableAccount").submit(function(e) {
			e.preventDefault();
			toggleActive();
		});
		$("#tblUsers").show();
	});

	var cs = $("#country").countrySelect();
	var cs_add = $("#country_add").countrySelect();

	$('#deleteAuthToken').on('show.bs.modal', function (event) {
		$('#delAuthID').val("");
		var button = $(event.relatedTarget);
		var user = button.data('user');
		var id = button.data('id');
		var modal = $(this);
		modal.find('#delAuthUsername').text(user);
		modal.find('#delAuthID').val(id);
	})

	$('#resetTopics').on('show.bs.modal', function (event) {
		$('#resetTopicsUsernameVal').val("");
		var button = $(event.relatedTarget);
		var user = button.data('user');
		var modal = $(this);
		modal.find('#resetTopicsUsername').text(user);
		modal.find('#resetTopicsUsernameVal').val(user);
	})

	$('#deleteAccount').on('show.bs.modal', function (event) {
		$('#deleteAccountIDVal').val("");
		var button = $(event.relatedTarget);
		var user = button.data('user');
		var id = button.data('id');
		var modal = $(this);
		modal.find('#deleteAccountUsername').text(user);
		modal.find('#deleteAccountIDVal').val(id);
	})

	$('#disableAccount').on('show.bs.modal', function (event) {
		$('#disableAccountIDVal').val("");
		$('#disableAccountStateVal').val("");
		var button = $(event.relatedTarget);
		var state = button.data('state-val');
		var user = button.data('user');
		var id = button.data('id');
		var modal = $(this);
		if(state == true){
			modal.find('.disableAccountState').text("aktivieren");
		}else{
			modal.find('.disableAccountState').text("deaktiveren");
		}
		modal.find('#disableAccountUsername').text(user);
		modal.find('#disableAccountStateVal').val(state);
		modal.find('#disableAccountIDVal').val(id);
	})


	function clearModal() {
		$('#username').val("");
		$('#username_add').val("");
		$('#email').val("");
		$('#email_add').val("");
		$('#password_add').val("");
		$('#userId').val("");
		$('#delAuthID').val("");
		$('#resetTopicsUsernameVal').val("");
		$('#deleteAccountIDVal').val("");
		$('#disableAccountStateVal').val("");
		$('#disableAccountIDVal').val("");
	}

	function saveAccount() {
		var userId = $('#userId').val();
		var account = users[userId];
		var country = $("#country_code").val().trim();
		account.email = $('#email').val();
		account.country = country;
		if (account.username && account.email && account.country) {
				//post update
				//console.log("Updating" + JSON.stringify(account));
				$.ajax({
					url: '/account/' + account._id,
					type: 'POST',
					data: JSON.stringify(account),
					dataType: 'json',
					contentType: "application/json",
					success: function(data){
						//console.log("post response");
						//console.log(data);
						//reload
						document.location.reload();
					},
				});
				//console.log(JSON.stringify(account));
		} else {
			alert("Stellen Sie sicher, dass E-Mail-Adresse und Land festgelegt sind!");
		}
	}

	function editAccount(id) {
		clearModal()
		var account = users[id];
		$('#userId').val(account._id);
		$('#username').prop('readonly', true);
		if  (account.superuser != true) {
			$('#username').val(account.username);
			$('#email').val(account.email);
			if (account.country == 'Unknown' || account.country == '' || typeof account.country == 'undefined') {cs.countrySelect("selectCountry","DE")}
			else {cs.countrySelect("selectCountry", account.country)}
			$("#userModal").modal();
		}
	}

	function deleteTokens() {
		var id = $('#delAuthID').val();
		if(id != undefined) {
			$.ajax({
				url:"/tokens/" + id,
				type: 'DELETE',
				success: function(data){
					document.location.reload();
				}
			});
		}
	}

	function resetTopics() {
		var username = $('#resetTopicsUsernameVal').val();
		if(username != undefined) {
			$.ajax({
				url:"/admin/toggle-topics/" + username,
				type: 'POST',
				success: function(data){
					document.location.reload();
				}
			});
		}
	}

	function deleteAccount(id) {
		var id = $('#deleteAccountIDVal').val();
		if(id != undefined) {
			$.ajax({
				url:"/account/" + id,
				type: 'DELETE',
				success: function(data){
					document.location.reload();
				}
			});
		}
	}

	function toggleActive() {
		var id = $('#disableAccountIDVal').val();
		var state = $('#disableAccountStateVal').val();
		console.log(id + "-> " + state);
		if(id != undefined && state != undefined) {
			$.ajax({
				url:"/admin/user/" + id + "/" + state,
				type: 'POST',
				success: function(data){
					document.location.reload();
				}
			});
		}
	}

	function addUserAccount(){
		clearModal();
		cs_add.countrySelect("selectCountry","DE");
		$("#userModalAdd").modal();
	}
	function addUserSave(){
		var username = $('#username_add').val();
		var email = $('#email_add').val();
		var country = $("#country_add_code").val().trim();
		var password = $('#password_add').val();
		console.log('{"username": "' + username + '", "email": "' + email + '", "country": "' + country + '", "password": "' + password + '"}');
		if (username && email && country && password) {
			$.ajax({
				url: '/admin-create-user',
				type: 'POST',
				data: '{"username": "' + username + '", "email": "' + email + '", "country": "' + country + '", "password": "' + password + '"}',
				dataType: 'json',
				contentType: "application/json"
				
			})
			.fail(function(jqXHR, textStatus){
				if(jqXHR.status == 200){
					alert(jqXHR.responseText);
					document.location.reload();
				}else{
					alert(jqXHR.responseText);
				}
				
			});
		}else {
			alert("Es müssen alle Felder gefüllt sein!");
		}
	}

	// Generate javascript object for use in JS code only
	var users = {};
	<%- JSON.stringify(users) %>.forEach(function(user){
			//console.log("user: " + JSON.stringify(user));
			var lastLogin = (user.last || 'Nicht gesetzt');
			var objUser = {
				"_id": user._id,
				"superuser": user.superuser,
				"username": user.username,
				"email": user.email,
				"country": user.country,
				"region": user.region,
				"countDevices": user.countDevices,
				"lastLogin": lastLogin
			};
			//console.log("Constructed user: " + JSON.stringify(objUser));
			users[objUser._id] = objUser; // Users now contained under _id element
	});
	//console.log("Final JSON object:" + JSON.stringify(users));
	</script>
<%- include('../fragments/footer'); -%>