<html>
<head></head>
<body>
<p>Hallo</p>

<p>Vor kurzem wurde eine Anfrage gestellt, um das Passwort für Ihren <%= brand %>-Account zurückzusetzen.</p>

<p>Ihr Benutzername lautet: <%= username %>.<p>

<p>Folgen Sie diesem Link, um Ihr Passwort zurückzusetzen</p>

<a href="https://<%= fqdn %>/change-password/<%= uuid %>" rel="nofollow">https://<%= fqdn %>/change-password/<%= uuid %></a>

<p>Dieser Link ist nur für die nächsten 24 Stunden gültig und funktioniert nur einmal.</p>
</body>
</html>
